# 1. Importing the possibly required libraries for EDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 2. Loading the data into the data frame

In [2]:
df_data=pd.read_csv('webmd.csv', na_values=' ')

In [3]:
df_data.shape

(362806, 12)

In [4]:
#to display the top 5 rows
df_data.head(5)

,Age,Condition,Date,Drug,DrugId,EaseofUse,Effectiveness,Reviews,Satisfaction,Sex,Sides,UsefulCount
0,75 or over,Stuffy Nose,9/21/2014,25dph-7.5peh,146724,5,5,I'm a retired physician and of all the meds I ...,5,Male,"Drowsiness, dizziness , dry mouth /nose/thro...",0
1,25-34,Cold Symptoms,1/13/2011,25dph-7.5peh,146724,5,5,cleared me right up even with my throat hurtin...,5,Female,"Drowsiness, dizziness , dry mouth /nose/thro...",1
2,65-74,Other,7/16/2012,warfarin (bulk) 100 % powder,144731,2,3,why did my PTINR go from a normal of 2.5 to ov...,3,Female,NaN,0
3,75 or over,Other,9/23/2010,warfarin (bulk) 100 % powder,144731,2,2,FALLING AND DON'T REALISE IT,1,Female,NaN,0
4,35-44,Other,1/6/2009,warfarin (bulk) 100 % powder,144731,1,1,My grandfather was prescribed this medication ...,1,Male,NaN,1

In [5]:
#to display the bottom 5 rows
df_data.tail(5)

,Age,Condition,Date,Drug,DrugId,EaseofUse,Effectiveness,Reviews,Satisfaction,Sex,Sides,UsefulCount
362801,55-64,Stop Smoking,11/14/2008,chantix,144470,5,5,I took the whole 12 weeks.I could have stopped...,5,Female,"Nausea , headache , vomiting , drowsiness, g...",2
362802,NaN,Other,11/14/2008,chantix,144470,2,3,My dad strated taking Chantix about 1 month ag...,1,NaN,"Nausea , headache , vomiting , drowsiness, g...",16
362803,25-34,Stop Smoking,11/13/2008,chantix,144470,2,4,"As long as I was on chantix, I didn't smoke. ...",2,Female,"Nausea , headache , vomiting , drowsiness, g...",3
362804,55-64,Stop Smoking,11/13/2008,chantix,144470,5,5,Started this medication Oct 5th 2008. Haven't ...,5,Male,"Nausea , headache , vomiting , drowsiness, g...",1
362805,45-54,Stop Smoking,11/12/2008,chantix,144470,4,5,"One year ago, I tried Chantix and had to stop ...",5,Female,"Nausea , headache , vomiting , drowsiness, g...",3

# 3. Checking the types of data

In [6]:
df_data.dtypes

Age              object
Condition        object
Date             object
Drug             object
DrugId            int64
EaseofUse         int64
Effectiveness     int64
Reviews          object
Satisfaction      int64
Sex              object
Sides            object
UsefulCount       int64
dtype: object

# 4. Dropping irrelevant columns

In [7]:
df_data=df_data.drop(['Date', 'DrugId', 'Reviews', 'Sides'], axis=1)

In [8]:
df_data.head(5)

,Age,Condition,Drug,EaseofUse,Effectiveness,Satisfaction,Sex,UsefulCount
0,75 or over,Stuffy Nose,25dph-7.5peh,5,5,5,Male,0
1,25-34,Cold Symptoms,25dph-7.5peh,5,5,5,Female,1
2,65-74,Other,warfarin (bulk) 100 % powder,2,3,3,Female,0
3,75 or over,Other,warfarin (bulk) 100 % powder,2,2,1,Female,0
4,35-44,Other,warfarin (bulk) 100 % powder,1,1,1,Male,1

# 5. Renaming the columns

In [9]:
df_data=df_data.rename(columns={"Satisfaction": "Rating", "UsefulCount":"Count"})

In [10]:
df_data.head(5)

,Age,Condition,Drug,EaseofUse,Effectiveness,Rating,Sex,Count
0,75 or over,Stuffy Nose,25dph-7.5peh,5,5,5,Male,0
1,25-34,Cold Symptoms,25dph-7.5peh,5,5,5,Female,1
2,65-74,Other,warfarin (bulk) 100 % powder,2,3,3,Female,0
3,75 or over,Other,warfarin (bulk) 100 % powder,2,2,1,Female,0
4,35-44,Other,warfarin (bulk) 100 % powder,1,1,1,Male,1

# 6. Dropping the Irrelevant rows

In [11]:
#selecting the rows of our target which is a condition only have pain 
df_data=df_data[df_data.Condition.str.contains('Pain', na=False)]

In [12]:
df_data.shape

(53649, 8)

In [13]:
df_data.head(5)

,Age,Condition,Drug,EaseofUse,Effectiveness,Rating,Sex,Count
184,NaN,Neuropathic Pain,lyrica,5,5,5,NaN,12
185,NaN,Nerve Pain after Herpes,lyrica,5,5,5,Male,0
186,65-74,Neuropathic Pain,lyrica,5,5,5,Female,0
187,19-24,Neuropathic Pain,lyrica,1,3,1,Female,14
188,35-44,Neuropathic Pain,lyrica,5,5,5,NaN,11

# 7. Data Cleaning and Manupulation

In [14]:
#to calculate the total null vaues in each column:
df_data.isnull().sum()

Age              1905
Condition           0
Drug                0
EaseofUse           0
Effectiveness       0
Rating              0
Sex              3698
Count               0
dtype: int64

In [15]:
#since Age and Sex are the two determining variable through out this project, they cant be null, hence drop the null values from data set
df_data.dropna(inplace=True)

In [16]:
df_data.shape

(49313, 8)

In [18]:
df_data.head(5)

,Age,Condition,Drug,EaseofUse,Effectiveness,Rating,Sex,Count
186,65-74,Neuropathic Pain,lyrica,5,5,5,Female,0
187,19-24,Neuropathic Pain,lyrica,1,3,1,Female,14
196,45-54,Neuropathic Pain,lyrica,1,5,1,Female,18
197,65-74,Nerve Pain from Spinal Cord Injury,lyrica,4,4,3,Female,0
200,55-64,Neuropathic Pain,lyrica,3,1,1,Female,8

In [19]:
df_data.tail(5)

,Age,Condition,Drug,EaseofUse,Effectiveness,Rating,Sex,Count
359898,35-44,Pain,caldolor vial,3,5,5,Male,1
360771,65-74,Pain,choline mag trisalicylate,4,4,1,Male,0
361513,35-44,Pain,children's motrin,4,5,2,Female,0
361535,6-Mar,Head Pain,children's acetaminophen,5,4,5,Female,1
361615,13-18,Painful Periods,chateal,5,5,4,Female,0